.muiNavbar {
  z-index: 10;
}

.logo {
  width: 6%;
  height: 6%;
  margin: 0.6%;
}

.icons {
  margin-bottom: 2%;
}

@media (min-width: 0px) {
  .logoScreen {
    display: none;
  }
}

@media (min-width: 900px) {
  .logoScreen {
    display: flex;
  }
}

@media (min-width: 900px) {
  .logoMobile {
    display: none;
  }
}

@media (max-width: 440px) {
  .logoMobile {
    display: none;
  }
}

.shoppingCart {
  margin-right: 1% !important;
  width: 5% !important;
  height: 7.5% !important;
}

@media (min-width: 981px) {
  .shoppingCart {
    margin-right: 3% !important;
  }
}

@media (min-width: 707px) {
  .shoppingCart {
    margin-right: 6% !important;
  }
}

@media (min-width: 400px) {
  .shoppingCart {
    margin-right: 12% !important;
  }
}

@media (max-width: 440px) {
  .shoppingCart {
    margin-right: 40% !important;
  }
}

@media (min-width: 700px) {
  .textMobile {
    font-size: 30px !important;
  }
}

@media (min-width: 500px) {
  .textMobile {
    font-size: 20px !important;
  }
}

@media (max-width: 440px) {
  .textMobile {
    display: none !important;
  }
}
