.form_background {
  min-height: 500px;
  width: 100vh;
  margin: auto;
  margin-bottom: 2em;
}

.first_textfield {
  margin-top: 4em;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
