.cardButton {
  margin-left: auto !important;
  margin-right: 10% !important;
  border-color: black !important;
  color: rgb(0, 0, 0) !important;
}

.cardText {
  text-align: center !important;
}

.addCartButton {
  color: #747cb8;
}
