.searchBar {
  width: 40%;
  margin-left: 30% !important;
  margin-bottom: 2% !important;
}

@media (max-width: 800px) {
  .searchBar {
    width: 50% !important;
    margin-bottom: 2% !important;
    margin-left: 25% !important;
  }
}

@media (max-width: 500px) {
  .searchBar {
    width: 70% !important;
    margin-bottom: 2% !important;
    margin-left: 15% !important;
  }
}
